
# Dataset:

https://archive.ics.uci.edu/ml/datasets/Adult


- >50K, <=50K.

- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, - Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, - Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, - Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, - Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, - Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, - Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, - Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, - Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

In [2]:

import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
import sys
sys.setrecursionlimit(30000)

## Cleanup and Preparation:

In [3]:
#Dataset description

s = '''
age: continuous.
workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
fnlwgt: continuous.
education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
education_num: continuous.
marital_status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
sex: Female, Male.
capital_gain: continuous.
capital_loss: continuous.
hours_per_week: continuous.
native_country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
high_income: <=50K or >=50K'''

In [4]:
#Extracting headers

headers = [i.split(':')[0] for i in s.split('\n') if i != '']

In [5]:
income = pd.read_csv('income.csv',header=None)

In [6]:
#Zipping and creating dict mappings:
dict(zip(headers, income.columns))

{'age': 0,
 'capital_gain': 10,
 'capital_loss': 11,
 'education': 3,
 'education_num': 4,
 'fnlwgt': 2,
 'high_income': 14,
 'hours_per_week': 12,
 'marital_status': 5,
 'native_country': 13,
 'occupation': 6,
 'race': 8,
 'relationship': 7,
 'sex': 9,
 'workclass': 1}

In [7]:
income.rename(columns=dict(zip(income.columns,headers)),inplace=True)
income.sample(3)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,high_income
6687,26,Private,391349,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
19215,19,Self-emp-not-inc,67929,Some-college,10,Never-married,Farming-fishing,Own-child,White,Male,0,0,50,United-States,<=50K
10260,42,Self-emp-not-inc,212847,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,85,United-States,<=50K

In [8]:
workclass_col = pd.Categorical.from_array(income['workclass'])
income['workclass'] = workclass_col.codes
workclass_col

[State-gov, Self-emp-not-inc, Private, Private, Private, ..., Private, Private, Private, Private, Self-emp-inc]
Length: 32561
Categories (9, object): [?, Federal-gov, Local-gov, Never-worked, ..., Self-emp-inc, Self-emp-not-inc, State-gov, Without-pay]

In [9]:
def convert_2_cat(series):
    return pd.Categorical.from_array(series).codes

In [10]:
conv2cat_list = '''education, marital_status, occupation, relationship, race, sex, native_country, high_income'''
conv2cat_list = [i.lstrip() for i in conv2cat_list.split(',')]
conv2cat_list

['education',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native_country',
 'high_income']

In [11]:
for i in conv2cat_list:
    income[i] = convert_2_cat(income[i])

In [17]:
income.to_pickle('income_df')

In [18]:
income.sample(10)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,high_income
15551,43,4,456236,12,14,2,4,0,4,1,0,0,50,39,1
3324,59,4,294395,12,14,6,10,1,4,0,0,0,40,39,0
30511,61,6,140300,11,9,4,12,1,4,0,0,0,44,39,0
6302,33,4,324546,15,10,2,7,0,4,1,0,0,39,39,0
1264,22,5,153516,15,10,4,3,3,4,1,0,0,35,39,0
527,74,4,99183,15,10,0,1,1,4,0,0,0,9,39,0
17715,37,4,549174,11,9,2,3,0,4,1,0,0,50,39,1
29093,34,4,561334,15,10,2,4,0,4,1,0,0,50,39,1
4035,34,6,320194,14,15,5,10,4,4,1,0,0,48,39,1
14954,35,4,409200,7,12,4,11,1,4,1,0,0,40,39,0

## Decision tree:

- A decision tree is a DAG.
- Arrows connecting nodes imply causality. This is expressed as a probability.
- A decision tree splits data along various features(like a binary tree).
- A node is a randomly(or not) picked feature which is used to split the data.
- Decision rule(keeping in mind correlation does not imply causation) for each row of data:
        Question: Does private job imply higher income? 
        Answer:   y or n.
       
- This translates into splitting the dataset based on the following question for each row: 
        Q: Is the feature 'workclass' == 4?
        A: Y=1 , No=0
        
- Greater correlation between pairs of variables(feature columns like 'workclass' and 'high_income') corresponds to a greater cross-entropy(and lower KL divergence).
- The data is repeatedly split along various features using such decision rules. This makes the tree deeper.
- Rows of data 'flow' through a decision tree and finally end up on a terminal node(or leaf) at a certain tree depth(this is a hyperparameter).

In [21]:
# income.workclass == 4 is 'Private' category
private_incomes = income[income['workclass'] == 4]
public_incomes  = income[income['workclass'] != 4]
private_incomes.shape , public_incomes.shape, income.shape

((22696, 15), (9865, 15), (32561, 15))

### Note:  
Dataset has more people people working in the private sector

In [13]:
columns = ["age", "workclass", "education_num",
           "marital_status", "occupation", "relationship", "race", "sex", "hours_per_week", "native_country"]


def entropy(column):
    '''Compute the entropy of a column of data.'''
    counts = np.bincount(column)
    probabilities = counts / float(len(column))
    return -np.sum((probabilities*np.log2(probabilities)))

def information_gain(target,by):
    '''Calculate information gain by splitting column along median'''
    S_T = entropy(target)
    N = target.shape[0] #Number of rows
    
    #Splits
    median = by.median()
    right_split = np.sum(by > median)
    left_split = np.sum(by <= median)
    
    #Information gain
    return S_T - (right_split/N)*entropy(target[by>median]) - (left_split/N)*entropy(target[by<=median])

def compute_gains(df,target,columns=False):
    if not columns:
        columns = df.columns.tolist()
        columns.remove(target)
    
    gains = {feature:information_gain(df[target],df[feature]) for feature in columns}
    return gains

def find_best_column(df,target,columns):
    
    gains = compute_gains(df,target,columns=columns)
    return max(gains,key=gains.get)

## ID3 algorithm:

![](id3.png)

Reference:
https://en.wikipedia.org/wiki/ID3_algorithm

In [14]:
tree = {}
nodes = []

def id3(data, target, columns,tree):
    # Unique values in target, in this case it is 'high_income'
    unique_targets = pd.unique(data[target])
    
    #node numbering starts with 1
    node_number = len(nodes) + 1
    nodes.append(node_number)
    tree["number"] = node_number
    
    if len(unique_targets) == 1:
        # Assigning labels to the tree
        if 0 in unique_targets:
            tree["label"] = 0
        elif 1 in unique_targets:
            tree["label"] = 1
        return # Return if condition not met
    
    # Find the best column to split on in our data.
    best_column = find_best_column(data, target, columns)
    # Find the median of the column.
    column_median = data[best_column].median()
    
    tree["column"] = best_column
    tree["median"] = column_median
    
    
    # Create the two splits.
    left_split = data[data[best_column] <= column_median]
    right_split = data[data[best_column] > column_median]
    split_dict = [["left", left_split], ["right", right_split]]
    
    for name, split in split_dict:
        tree[name] = {}
        id3(split, target, columns, tree[name])

In [15]:
# Create the dataset that we used in the example in the last screen.
tree = {}
nodes = []
dummy_data = pd.DataFrame([
    [0,20,0],
    [0,60,2],
    [0,40,1],
    [1,25,1],
    [1,35,2],
    [1,55,1]
    ])
# Assign column names to the data.
dummy_data.columns = ["high_income", "age", "marital_status"]

# Call the function on our data to set the counters properly.
id3(dummy_data, "high_income", ["age", "marital_status"],tree)

In [16]:
# Call the function on our data to set the counters properly.
#tree = {}
#nodes = []
#id3(data, "high_income", data_columns, tree)

In [17]:
def print_with_depth(string, depth):
    # Add space before a string.
    prefix = "    " * depth
    # Print a string, appropriately indented.
    print("{0}{1}".format(prefix, string))
    
    
def print_node(tree, depth):
    # Check for the presence of label in the tree.
    if "label" in tree:
        # If there's a label, then this is a leaf, so print it and return.
        print_with_depth("Leaf: Label {0}".format(tree["label"]), depth)
        # This is critical -- without it, you'll get infinite recursion.
        return
    # Print information about what the node is splitting on.
    print_with_depth("{0} > {1}".format(tree["column"], tree["median"]), depth)
    
    # Create a list of tree branches.
    branches = [tree["left"], tree["right"]]
        
    # Insert code here to recursively call print_node on each branch.
    for branch in branches:
        print_node(branch,depth+1)
    
    # Don't forget to increment depth when you pass it in!

print_node(tree, 0)

age > 37.5
    age > 25.0
        age > 22.5
            Leaf: Label 0
            Leaf: Label 1
        Leaf: Label 1
    age > 55.0
        age > 47.5
            Leaf: Label 0
            Leaf: Label 1
        Leaf: Label 0

In [18]:
def predict(tree, row):
    if "label" in tree:
        return tree["label"]
    
    column = tree["column"]
    median = tree["median"]
    
    # Check if row[column] is less than or equal to median
    # If it's less than or equal, return the result of predicting on the left branch of the tree
    # If it's greater, return the result of predicting on the right branch of the tree
    if row[column] <= median:
        return predict(tree["left"],row)
    else:
        return predict(tree["right"],row)
    

# Print the prediction for the first row in our data.
print(predict(tree, income.iloc[5]))

1

In [26]:
sample_data = income[['high_income','age','marital_status']].sample(10)
target = sample_data['high_income']
columns = sample_data.columns.tolist()

In [27]:
def batch_predict(tree, df):
    # Insert your code here.
    return df.apply(lambda row: predict(tree,row),axis=1)
    
predictions = batch_predict(tree, sample_data)

In [28]:
print('Sample Data : \n\n {0}\n\n'.format(sample_data))
print('Predictions : \n\n{0}'.format(predictions))

Sample Data :

        high_income  age  marital_status
23460            1   69               2
23384            1   31               2
11010            1   37               2
303              1   55               2
7555             1   44               2
29684            0   17               4
347              0   30               0
5311             1   36               4
3798             0   30               4
30937            0   41               0


Predictions :

23460    0
23384    1
11010    1
303      1
7555     0
29684    0
347      1
5311     1
3798     1
30937    0
dtype: int64

In [34]:
N = sample_data.shape[0]
accuracy = (np.sum(sample_data['high_income'] == predictions))/N
print('Accuracy : {0:.2f}'.format(accuracy))

Accuracy : 0.60

In [36]:
#THIS TAKES TOO LONG
#tree = {}
#nodes = []
#columns = income.columns.tolist()
#id3(income, "high_income", columns, tree)