In [28]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

Data source: https://github.com/fivethirtyeight/data/tree/master/star-wars-survey

In [2]:
star_wars = pd.read_csv('../data/star-wars-survey/StarWars.csv',encoding='ISO-8859-1')

In [3]:
star_wars.head(2)

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?æ,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
0,NaN,Response,Response,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,Star Wars: Episode I The Phantom Menace,...,Yoda,Response,Response,Response,Response,Response,Response,Response,Response,Response
1,3.292880e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic

In [4]:
star_wars.columns

Index(['RespondentID',
       'Have you seen any of the 6 films in the Star Wars franchise?',
       'Do you consider yourself to be a fan of the Star Wars film franchise?',
       'Which of the following Star Wars films have you seen? Please select all that apply.',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14',
       'Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Which character shot first?',
       'Are you familiar with the Expanded Universe?',
       'Do you consider yourself to be a fan of the Expanded Universe?æ',
       'Do you consider yourself to be a fan of the Star Trek franchise?',
       'Gender', 'Age', 'Household Income', 'Education',
       'Location (Census Region)'],
      dtype='object')

In [5]:
#Cleaning up dataset

#Dropping rows where RespondentID is null
star_wars = star_wars[star_wars['RespondentID'].notnull()]

In [6]:
star_wars['Have you seen any of the 6 films in the Star Wars franchise?'].value_counts()

star_wars['Do you consider yourself to be a fan of the Star Wars film franchise?'].value_counts()

Yes    552
No     284
Name: Do you consider yourself to be a fan of the Star Wars film franchise?, dtype: int64

In [7]:
#Mapping Yes = True and No = False using dict
TF = {'Yes':True,'No':False}
star_wars['Do you consider yourself to be a fan of the Star Wars film franchise?'] = star_wars['Do you consider yourself to be a fan of the Star Wars film franchise?'].map(TF)
star_wars['Have you seen any of the 6 films in the Star Wars franchise?'] = star_wars['Have you seen any of the 6 films in the Star Wars franchise?'].map(TF)

In [8]:
star_wars.rename(columns={'Which of the following Star Wars films have you seen? Please select all that apply.':'seen_1'
                          ,'Unnamed: 4':'seen_2'
                          ,'Unnamed: 5':'seen_3'
                          ,'Unnamed: 6':'seen_4'
                          ,'Unnamed: 7':'seen_5'
                          ,'Unnamed: 8':'seen_6'
                         },inplace=True)

In [9]:
print(star_wars['seen_1'].loc[1])

Star Wars: Episode I  The Phantom Menace

In [10]:
TF={'Star Wars: Episode I  The Phantom Menace':True,'NaN':False}
star_wars['seen_1'] = star_wars['seen_1'].map(TF)

In [11]:
print(star_wars['seen_2'].loc[1])

Star Wars: Episode II  Attack of the Clones

In [12]:
TF={'Star Wars: Episode II  Attack of the Clones':True,'NaN':False}
star_wars['seen_2'] = star_wars['seen_2'].map(TF)

In [13]:
print(star_wars['seen_3'].loc[1])

Star Wars: Episode III  Revenge of the Sith

In [14]:
TF={'Star Wars: Episode III  Revenge of the Sith':True,'NaN':False}
star_wars['seen_3'] = star_wars['seen_3'].map(TF)

In [15]:
print(star_wars['seen_4'].loc[1])

Star Wars: Episode IV  A New Hope

In [16]:
TF={'Star Wars: Episode IV  A New Hope':True,'NaN':False}
star_wars['seen_4'] = star_wars['seen_4'].map(TF)

In [17]:
print(star_wars['seen_5'].loc[1])

Star Wars: Episode V The Empire Strikes Back

In [18]:
TF={'Star Wars: Episode V The Empire Strikes Back':True,'NaN':False}
star_wars['seen_5'] = star_wars['seen_5'].map(TF)

In [19]:
print(star_wars['seen_6'].loc[1])

Star Wars: Episode VI Return of the Jedi

In [20]:
TF={'Star Wars: Episode VI Return of the Jedi':True,'NaN':False}
star_wars['seen_6'] = star_wars['seen_6'].map(TF)

In [21]:
star_wars.columns[9:15]

Index(['Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14'],
      dtype='object')

In [22]:
star_wars[star_wars.columns[9:15]].loc[1]

Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.    3
Unnamed: 10                                                                                                                                      2
Unnamed: 11                                                                                                                                      1
Unnamed: 12                                                                                                                                      4
Unnamed: 13                                                                                                                                      5
Unnamed: 14                                                                                                                                      6
Name: 1, dtype: object

In [23]:
#Converting string object to floats
star_wars[star_wars.columns[9:15]] = star_wars[star_wars.columns[9:15]].astype(float)

In [24]:
star_wars.rename(columns={'Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.':'ranking_1'
                          ,'Unnamed: 10':'ranking_2'
                          ,'Unnamed: 11':'ranking_3'
                          ,'Unnamed: 12':'ranking_4'
                          ,'Unnamed: 13':'ranking_5'
                          ,'Unnamed: 14':'ranking_6'
                         },inplace=True)

In [25]:
star_wars.columns[9:15]

Index(['ranking_1', 'ranking_2', 'ranking_3', 'ranking_4', 'ranking_5',
       'ranking_6'],
      dtype='object')

In [26]:
print('Lower ranking means better overall rating:\n')
print('1st movie mean ranking: {0}'.format(star_wars['ranking_1'].mean()))
print('2nd movie mean ranking: {0}'.format(star_wars['ranking_2'].mean()))
print('3rd movie mean ranking: {0}'.format(star_wars['ranking_3'].mean()))
print('4th movie mean ranking: {0}'.format(star_wars['ranking_4'].mean()))
print('5th movie mean ranking: {0}'.format(star_wars['ranking_5'].mean()))
print('6th movie mean ranking: {0}'.format(star_wars['ranking_6'].mean()))

Lower ranking means better overall rating:

1st movie mean ranking: 3.7329341317365268
2nd movie mean ranking: 4.087320574162679
3rd movie mean ranking: 4.341317365269461
4th movie mean ranking: 3.272727272727273
5th movie mean ranking: 2.513157894736842
6th movie mean ranking: 3.047846889952153

# Cleanup Summary:
   - Dropped rows where RespondentID is null using .notnull()
   - Mapped 'Yes' = True and 'No' = False using a dictionary. 
   - Renamed columns using .rename()
   - Used dictionaries to create boolean variables for the first multiple choice question. If respondent watched the movie the boolean is True, if NaN it is False.
   - Converted movie rankings into floats using .astype()
   - Computed the mean rankings of each movie in the Star Wars series using .mean()
   - Lower mean value indicates a ranking closer to the highest possible rank(rank 1).
   - So lower mean values may be considered better.

In [27]:
star_wars[['ranking_1','ranking_2','ranking_3','ranking_4','ranking_5','ranking_6']]

      ranking_1  ranking_2  ranking_3  ranking_4  ranking_5  ranking_6
1           3.0        2.0        1.0        4.0        5.0        6.0
2           NaN        NaN        NaN        NaN        NaN        NaN
3           1.0        2.0        3.0        4.0        5.0        6.0
4           5.0        6.0        1.0        2.0        4.0        3.0
5           5.0        4.0        6.0        2.0        1.0        3.0
6           1.0        4.0        3.0        6.0        5.0        2.0
7           6.0        5.0        4.0        3.0        1.0        2.0
8           4.0        5.0        6.0        3.0        2.0        1.0
9           5.0        4.0        6.0        2.0        1.0        3.0
10          1.0        2.0        3.0        4.0        5.0        6.0
11          NaN        NaN        NaN        NaN        NaN        NaN
12          NaN        NaN        NaN        NaN        NaN        NaN
13          3.0        4.0        5.0        6.0        1.0        2.0
14          4.0        5.0        6.0        2.0        3.0        1.0
15          4.0        2.0        5.0        3.0        1.0        6.0
16          4.0        6.0        5.0        3.0        1.0        2.0
17          4.0        1.0        2.0        3.0        5.0        6.0
18          1.0        2.0        3.0        4.0        5.0        6.0
19          6.0        5.0        2.0        3.0        1.0        4.0
20          6.0        5.0        1.0        4.0        3.0        2.0
21          6.0        5.0        4.0        1.0        2.0        3.0
22          3.0        4.0        5.0        1.0        2.0        6.0
23          6.0        5.0        4.0        3.0        1.0        2.0
24          6.0        1.0        4.0        2.0        3.0        5.0
25          1.0        2.0        6.0        3.0        4.0        5.0
26          NaN        NaN        NaN        NaN        NaN        NaN
27          4.0        6.0        5.0        2.0        3.0        1.0
28          6.0        5.0        4.0        2.0        3.0        1.0
29          6.0        5.0        4.0        2.0        1.0        3.0
30          4.0        6.0        5.0        2.0        1.0        3.0
...         ...        ...        ...        ...        ...        ...
1157        3.0        4.0        5.0        6.0        2.0        1.0
1158        NaN        NaN        NaN        NaN        NaN        NaN
1159        2.0        3.0        4.0        5.0        1.0        6.0
1160        NaN        NaN        NaN        NaN        NaN        NaN
1161        3.0        4.0        2.0        5.0        6.0        1.0
1162        3.0        4.0        5.0        6.0        1.0        2.0
1163        4.0        5.0        6.0        1.0        2.0        3.0
1164        5.0        6.0        2.0        1.0        4.0        3.0
1165        5.0        4.0        3.0        6.0        1.0        2.0
1166        5.0        6.0        4.0        3.0        1.0        2.0
1167        6.0        5.0        1.0        4.0        3.0        2.0
1168        3.0        4.0        5.0        6.0        1.0        2.0
1169        NaN        NaN        NaN        NaN        NaN        NaN
1170        4.0        5.0        6.0        3.0        1.0        2.0
1171        NaN        NaN        NaN        NaN        NaN        NaN
1172        6.0        2.0        1.0        5.0        3.0        4.0
1173        2.0        3.0        4.0        1.0        6.0        5.0
1174        5.0        3.0        6.0        4.0        2.0        1.0
1175        1.0        2.0        3.0        4.0        5.0        6.0
1176        1.0        3.0        4.0        6.0        2.0        5.0
1177        2.0        1.0        3.0        4.0        5.0        6.0
1178        1.0        2.0        3.0        4.0        5.0        6.0
1179        NaN        NaN        NaN        NaN        NaN        NaN
1180        3.0        4.0        5.0        6.0        1.0        2.0
1181        3.0        4.0        5.0        2.0        1.0        6.0
1182        5.0        4.0        6.0        3.0        2.0        1.0
1183        4.0        5.0        6.0        2.0        3.0        1.0
1184        NaN        NaN        NaN        NaN        NaN        NaN
1185        4.0        3.0        6.0        5.0        2.0        1.0
1186        6.0        1.0        2.0        3.0        4.0        5.0

[1186 rows x 6 columns]